{% extends 'base.html.twig' %}

{% block title %}Pokedex dresseur{% endblock %}

{% block body %}
    <div class="centre">
    <h1>Profil du dresseur: </h1>

    <table class="tableUser" >
        <tbody>

            <tr>
                <th>Votre pseudo: </th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Votre mot de passe :</th>
                <td>*******</td>
            </tr>
            <tr>
                <th>Votre adresse mail: </th>
                <td>{{ user.mail }}</td>
            </tr>
            <tr>
                <th>Nombre de pièce en votre possession: </th>
                <td>{{ user.nbPiece }}</td>
            </tr>
        </tbody>
    </table>
 <br>

    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier vos informations </a> &nbsp &nbsp  &nbsp &nbsp <a href="{{ path('home') }}">Retour à la page d'accueil </a> &nbsp &nbsp &nbsp  &nbsp<a href="/logout" > Se déconnecter </a>
    </div>
{% endblock %}
